// Typography
$font-family-serif: 'Georgia', sans-serif;
$font-family-sans-serif: 'Helvetica Neue', 'Arial', sans-serif;

// Colors
$colors: (
    white: #fff,
    text: #333,
    blue: #005fc9,
    cyan: #4bf7ff,
    border: #ddd,
    warning: orange
);

$brand-colors: (
    primary: color(blue),
    secondary: color(cyan)
);

$theme-colors: map-merge($colors, $brand-colors);

// Grid
$container-max-width: 970px;

// Fonts
$font-size-base: 10px;
$font-size-paragraph: 1.6rem;
$line-height-paragraph: 1.9rem;
