// General
html {
    font-size: $font-size-base;
}

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-paragraph;
}

// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: color(text);
    font-family: $font-family-serif;
    font-weight: normal;
}

h1, .h1 {
    font-size: 4rem;
    line-height: 4.5rem;
}

h2, .h2 {
    font-size: 3.2rem;
    line-height: 3.8rem;
}

h3, .h3 {
    font-size: 2.8rem;
    line-height: 3.3rem;
}

h4, .h4 {
    font-size: 2.5rem;
    line-height: 3rem;
}

// Links
a {
    color: brand-color(primary);
    text-decoration: none;

    &:hover {
        border-bottom: 4px solid brand-color(primary);
    }
}

// Paragraph
p {
    color: color(text);
    font-size: $font-size-paragraph;
    line-height: $line-height-paragraph;
}

// Lead
.lead {
    color: color(text);
    font-size: 2.1rem;
    line-height: 2.6rem;
}

// Blockquote
blockquote {
    color: color(text);
    font-family: $font-family-serif;
    font-style: italic;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

// Label
label, .label {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
