input[type='text'] {
    padding: .75rem 1rem;
    border: 1px solid color(border);
    border-radius: 4px;

    &:active,
    &:focus {
        border-color: brand-color(primary);
        outline: none;
    }
}

.form-block {
    margin-bottom: 2rem;

    input[type='text'] {
        display: block;
        margin-top: 1rem;
    }

    input[type='checkbox'] {
        margin-right: 1rem;
    }

    &.has-warning {
        color: color(warning);

        input {
            border-color: color(warning);
        }
    }

    &__feedback {
        display: none;
        font-size: 1.2rem;

        .has-warning & {
            display: block;
        }
    }
}
