.c-navigation {
    display: flex;
    list-style: none;

    &__item {
        margin-right: 2rem;
    }

    a {
        &.router-link-exact-active {
            border-bottom: 4px solid brand-color(primary);
        }
    }
}
