// Text colors
@each $color, $value in $theme-colors {
    .color-#{$color} {
        color: $value;
    }
}

// Background colors
@each $color, $value in $theme-colors {
    .bg-#{$color} {
        background-color: $value;
    }
}
