<template>
  <div class="container">
    <article class="c-assignment">
      <h3>Assignment #2</h3>
      <blockquote>
        Add field-level error handling to the following code: <a href="https://codepen.io/anon/pen/eGVmpv" target="_blank">https://codepen.io/anon/pen/eGVmpv</a>
      </blockquote>

      <div class="c-assignment__input">
        <h4>Input</h4>

        <form v-on:submit="validate">
          <div :class="['form-block', {'has-warning': isSubmitted && missingFirstName}]">
            <label>First name: <input type="text" v-model="firstName"></label>
            <div class="form-block__feedback">This field is required.</div>
          </div>

          <div :class="['form-block', {'has-warning': isSubmitted && missingLastName}]">
            <label>First name: <input type="text" v-model="lastName"></label>
            <div class="form-block__feedback">This field is required.</div>
          </div>

          <div :class="['form-block', {'has-warning': isSubmitted && (missingPhoneNumber || phoneNumberIsInvalid)}]">
            <label>Phone number: <input type="text" v-model="phoneNumber"></label>
            <div class="form-block__feedback">{{ phoneNumberValidationMessage }}</div>
          </div>

          <div :class="['form-block']">
            <label><input type="checkbox" v-model="receiveNewsletter">Receive newsletter?</label>
          </div>

          <button type="submit">Save changes</button>
        </form>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  data () {
    return {
      firstName: '',
      lastName: '',
      phoneNumber: null,
      phoneNumberValidationMessage: 'Missing phone number',
      receiveNewsletter: false,
      isSubmitted: false
    }
  },
  computed: {
    missingFirstName () {
      return this.firstName === ''
    },
    missingLastName () {
      return this.lastName === ''
    },
    missingPhoneNumber () {
      return this.phoneNumber === null
    },
    phoneNumberIsInvalid () {
      if (isNaN(this.phoneNumber)) {
        this.phoneNumberValidationMessage = 'Phone number must be an integer'
        return true;
      }

      if (this.phoneNumber.replace(/[^0-9]/, '').length !== 8) {
        return true
      }

      return false
    }
  },
  methods: {
    validate () {
      this.isSubmitted = true

      const errors = []

      if (this.missingFirstName) {
        errors.push({
          path: 'firstName'
        })
      }


    }
  },
  mounted () {

    /*
    const mockPost = profile => new Promise(resolve => {
    const errors = []

    if (!profile.firstName) errors.push({ path: 'firstName', message: 'Missing first name!' })
    if (!profile.lastName) errors.push({ path: 'lastName', message: 'Missing last name!' })
    if (!profile.phoneNumber) {
      errors.push({ path: 'phoneNumber', message: 'Missing phone number!' })
    } else if (profile.phoneNumber.replace(/[^0-9]/, '').length !== 8) {
      errors.push({ path: 'phoneNumber', message: 'Phone number must be 8 digits' })
    }

    if (errors) {
      resolve({ errors })
      return
    }

    resolve({ profile })
  })

  const TextInput = ({ onChange, ...props }) => (
    <input onChange={event => onChange(event, event.target.value, event.target.name)} {...props} />
  )

  const CheckboxInput = ({ onChange, ...props }) => (
    <input type="checkbox" onChange={event => onChange(event, event.target.checked, event.target.name)} {...props} />
  )

  class ProfileForm extends React.Component {
    state = {
      firstName: '',
      lastName: '',
      phoneNumber: '',
      receiveNewsletter: false,
      errors: null,
    };

    onInputChange = (event, value, name) => {
      this.setState(() => ({
        [name]: value
      }))
    };

    onSubmit = async event => {
      event.preventDefault()

      this.setState({ errors: null })

      const { firstName, lastName, phoneNumber, receiveNewsletter } = this.state
      const response = await mockPost({ firstName, lastName, phoneNumber, receiveNewsletter })

      this.setState(response)
    };*/
  }
}
</script>
