<template>
  <div class="hello">
    <div class="container">
      <h3>Hello.</h3>
      <p>Choose one of the above assignments. ☝️</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {}
  }
}
</script>
