<template>
    <ul class="c-navigation">
      <li class="c-navigation__item" v-for="(item, index) in menuItems">
        <router-link :to="item.path">
          {{ item.name }}
        </router-link>
      </li>
    </ul>
</template>

<script>
export default {
  name: 'Menu',
  data () {
    return {
      menuItems: []
    }
  },
  created () {
    this.menuItems = this.$router.options.routes
  }
}
</script>
