<template>
  <div class="container">
    <article id="refactor" class="c-assignment">
      <header>
        <h3>Assignment #1</h3>
        <blockquote>
          Refactor the following code to improve readability. Babel is enabled, and you may use all modern language features: <a href="https://codepen.io/anon/pen/KXQwKd" target="_blank">https://codepen.io/anon/pen/KXQwKd</a>
        </blockquote>
      </header>

      <div class="c-assignment__input">
        <h4>Input</h4>
        <button id="load">Load images</button>
      </div>

      <div class="c-assignment__output">
        <h4>Output</h4>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: 'Refactor',
  data () {
    return {
      description: ''
    }
  },
  mounted () {
    const loadButton = document.querySelector('#load')

    loadButton.onclick = () => {
      loadButton.disabled = true
      loadButton.textContent = 'Loading images…'

      fetch('https://api.giphy.com/v1/gifs/trending?api_key=dc6zaTOxFJmzC&limit=3', {

      })
      .then(result => {
        return result.json().then(json => {
          json.data.forEach(item => {
            const image = new Image()
            image.src = item.images.downsized.url

            document.querySelector('.c-assignment__output').appendChild(image)
          })
        })
      })
      .then(() => {
        loadButton.remove()
      })
      .catch(error => {
        console.log(error)
      })
    }
  }
}
</script>
