<template>
  <div class="container">
    <article class="c-assignment">
      <h3>Assignment #3</h3>
      <blockquote>
        Replicate the following page-transition animation with React Router 4: <a href="https://www.dropbox.com/s/m5vpj3hwdfwemct/animation.mov">https://www.dropbox.com/s/m5vpj3hwdfwemct/animation.mov</a>
      </blockquote>
    </article>
  </div>
</template>

<script>
export default {

}
</script>
