<template>
  <div id="app">
    <header class="c-main-header">
      <div class="container">
        <h1>
          <router-link to="/" class="color-text">Unfold-Quiz</router-link>
        </h1>
        <navigation></navigation>
      </div>
    </header>

    <router-view/>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'

export default {
  components: {
    Navigation
  },
  name: 'app'
}
</script>

<style lang="scss">
@import './assets/scss/main.scss';
</style>
